// app global css in SCSS form

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.bg-main {
  background-color: #f8f8f8 !important; /* Replace 'your-color' with your desired background color */
}

body  {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.mint-green {
  color: var(--q-primary) ;
}
.q-table__card {
  border-radius: 0;
}

.custom-btn {
  border-radius: 0!important;
}
.q-layout.q-layout--standard.darkModeClass span {
  color: white !important;
}

.dark-mode .drawerActive {
  background-color: none !important;
  border-radius: 0;
}

.dark-mode .q-layout.q-layout--standard.darkModeClass span {
  color: #000 !important;
}

.dark-mode .q-calendar-month__day, .dark-mode .q-calendar-month__day.q-outside, .dark-mode .q-calendar-month__day.q-disabled-day {
  border-right: var(--calendar-border);
  background: #000 !important;
}

.dark-mode .drawerActive {
  background-color: none !important;
  border-radius: 0;
}

.darkModeClass .q-table__container,
.dark-mode .q-card,
.dark-mode .custom-input .q-field__label.no-pointer-events.absolute.ellipsis,
.dark-mode .q-field--outlined .q-field__control:before,
.dark-mode .custom-input-select .q-field__label,
.dark-mode .q-field__label {
  border-color: white !important;
  color: white !important;
  background-color: var(--q-dark) !important;
  background: var(--q-dark) !important;
}
.dark-mode .custom-input input,
.dark-mode .custom-input-select span,
.dark-mode .q-field__append,
.dark-mode .q-placeholder {
  color: white !important;
}
.dark-mode .q-field__control:before {
  border-bottom: solid white 1px;
}
.dark-mode .q-table thead,
.dark-mode .q-table tr,
.dark-mode .q-table th,
.dark-mode .q-table td {
  border: solid 0.1px white !important;
  color: white !important;
  background-color: var(--q-dark) !important;
}

.dark-mode .q-btn--standard {
  color: black !important;
  background-color: none !important;
}

.qr-dialog
  .q-dialog__inner.flex.no-pointer-events.q-dialog__inner--minimized.q-dialog__inner--standard.fixed-full.flex-center {
  padding: 0 !important;
}
.q-pa-md {
  height: 92vh;
}
.q-pa-md.unmodify {
  height: auto !important;
}

.bg-button1 {
  background-color: #444;
}

.text-color1 {
  color: #444;
}
.drawerClass {
  background-color: white;
  width: 250px;
  border-radius: 0;
  border: solid var(--q-primary) 2px;
}
.drawerActive {
  background-color: var(--q-primary);
  border-radius: 0;
}

.login-container .q-field__control {
  border-radius: 0 !important;
}

.custom-input .q-field__label {
  font-weight: bold;
  font-size: 14px;
  top: -6px;
  background: white;
  z-index: 2;
  padding: 0px 10px;
  border-radius: 0 !important;
}
.custom-input-select .q-field__label {
  font-weight: bold;
  font-size: 14px;
  top: -6px;
  background: white;
  z-index: 2;
  padding: 0px 10px;
  border-radius: 0 !important;
}
.custom-input-select .q-field__control-container {
  padding-top: 5px !important;
}

.custom-input-select .q-field__native {
  z-index: 3 !important;
}
.custom-input .q-field__native {
  z-index: 3 !important;
  padding-top: 8px !important;
  padding-bottom: 2px !important;
}
.custom-input-select .q-field__label {
  transform: translateY(-30%) scale(1) !important;
}
.custom-input .q-field__label {
  transform: translateY(-30%) scale(1) !important;
}

.card .bot-details .my-qur .img-qr {
  width: 75px !important;
}
.my-qur {
  line-height: 0 !important;
}


.qr-dialog.q-toolbar i {
  color: #fff !important;
}